@tailwind base;
@tailwind components;
@tailwind utilities;

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
} */
/* Light mode background color */
body {
  background-color: #F0FFD1;
}

/* Dark mode background color */
.dark body {
  background-color: #096b19; /* Example dark mode color */
}


input:checked + span {
  background-color: #4CAF50; /* Green background when checked */
}

input:checked + span::before {
  transform: translateX(1.5rem); 
}